*.aqt
*.bak
*.bat
*.dcu
*.dll
*.dproj
*.drc
*.dsk
*.exe
*.identcache
*.jpg
*.lnk
*.local
*.map
*.new
*.old
*.res
*.test
*.~*~
*.~dsk
__history
profiling/*
ArchiveZip.*
DragDrop/*
MediaInfo.pas
readme.txt
Zoom Player/*
